<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>


Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag 'icons/icontexto-webdev-config-128x128.png', :alt => '', :class => 'bigicon' %>
<h1>Editing configuration</h1>

<% form_for(@configuration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :enable_www, 'Enable web server' %>
    <%= f.check_box :enable_www %>
  </p>
  <p>
    <%= f.label :enable_dns, 'Enable DNS server' %>
    <%= f.check_box :enable_dns %>
  </p>
  <p>
    <%= f.label :enable_ssh, 'Enable SSH login' %>
    <%= f.check_box :enable_ssh %>
  </p>
  <p>
    <%= f.label :ip_address, 'Server IP address' %>
    <%= f.text_field :ip_address %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', configurations_path %>

