<%= image_tag "icons/icontexto-webdev-home-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Dashboard</h1>

<h2>Domains</h2>
<%= "You have no domain yet" if @logged_user.domains.count == 0 %>
<%= render :partial => @user.domains %>
<p>
  <%= link_to 'Add a domain', :controller => 'domains', :action => 'new' %>
</p>

<h2>Available services</h2>
<p>
  <% @logged_user.services.each do |s| %>
    <%=h s.name %><br/>
  <% end %>
</p>

<h2>Users</h2>
<p>
  <% @logged_user.users.each do |u| %>
    <%=h u.full_name %><br/>
  <% end %>
</p>

