<h1>Adding e-mail service to <%= @service_email_user.user.full_name %></h1>

<% form_for(@service_email_user, :url => { :controller => 'service_email_users', :action => 'create', :id => @service_email_user.id }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :max_mailboxes %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_mailboxes, :size => 15 %>
  </p>
  <p>
    <%= f.label :max_aliases %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_aliases, :size => 15 %>
  </p>
  <p>
    <%= f.hidden_field :user_id %>
    <%= f.submit 'Add' %>
  </p>
<% end %>

