<h1>E-mail service for <%= @service_email_user.user.full_name %></h1>

<p>
  <b>Mailboxes:</b>
  <%= print_quota @service_email_user.used_mailboxes_total, @service_email_user.max_mailboxes, '' %>
</p>

<p>
  <b>Aliases:</b>
  <%= print_quota @service_email_user.used_aliases_total, @service_email_user.max_aliases, '' %>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => '', :class => 'action') + 'Edit',
              :controller => 'service_email_users', :action => 'edit', :id => @service_email_user.to_param %><br/>
  <%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', @service_email_user.user %>
</p>

