<%= image_tag 'icons/icontexto-webdev-user-128x128.png', :alt => '', :class => 'bigicon' %>
<h1>Your users</h1>

<% if @users.count == 0 %>
  <br />You have no user yet
  <p><%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'New user', new_user_path %></p>
<% else %>
  <br />Users: <%= print_quota @logged_user.used_subusers_total, @logged_user.max_subusers, '' %>
  <p><%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'New user', new_user_path %></p>

  <table class="subdomains">
    <tr>
      <th>Name</th>
      <th>Domains</th>
      <th>Space</th>
      <th>Sub-users</th>
      <th>Actions</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= (link_to user.full_name, user) + ' (' + user.username + ')' %></td>
      <td><%= print_quota user.used_subdomains_total, user.max_subdomains, '' %></td>
      <td><%= print_quota user.used_space_total, user.max_space, 'Mb' %></td>
      <td><%= print_quota user.used_subusers_total, user.max_subusers, '' %></td>

      <td>
        <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => 'Edit', :title => 'Edit', :class => 'action'), edit_user_path(user) %>
        <%= link_to (image_tag 'icons/icontexto-webdev-remove-032x032.png', :alt => 'Delete', :title => 'Delete', :class => 'action'), user, :confirm => 'Are you sure?', :method => :delete %>
        <%= link_to (image_tag 'icons/icontexto-webdev-security-032x032.png', :alt => 'Login as this user', :title => 'Login as this user', :class => 'action'), :controller => 'users', :action => :login_as_me, :id => user.id %>
      </td>
    </tr>
  <% end %>
  </table>

<% end %>

<br />

