<%= image_tag 'icons/icontexto-webdev-user-128x128.png', :alt => '', :class => 'bigicon' %>
<h1><%=h @user.full_name + ' (' + @user.username + ')' %></h1>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => '', :class => 'action') + 'Edit', edit_user_path(@user) %>
</p>

<h2>E-mail: <small><%= link_to @user.email, 'mailto:'+@user.email %></small></h2>

<h2>Disk usage: <small><%= print_quota @user.used_space, @user.max_space, 'Mb' %></small></h2>

<h2>Domains <small>(<%= print_quota @user.subdomains_count, @user.max_subdomains, '' %>)</small></h2>
<%= 'This user has no domain yet' if @user.domains.count == 0 %>
<% @user.domains.each do |dom| %>
  <h3><%= dom.domain %></h3>
  <ul class="subdomains">
  <% dom.subdomains.each do |subdom| %>
    <li>
      <%= subdom.url+'.'+dom.domain %>
      <%= link_to (image_tag 'icons/external.png', :alt => 'Visit', :title => 'Visit'),'http://'+subdom.url+'.'+dom.domain, :target => '_blank' %>
    </li>
  <% end %>
  </ul>
<% end %>

<h2>Services:</h2>
<p>
  <% @user.services.each do |s| %>
    <% form_tag '/users/removeservice' do %>
      <%= hidden_field_tag 'user_id', @user.id %>
      <%= hidden_field_tag 'service_id', s.id %>
      <%= label_tag h s.name %>
      (<%= submit_tag 'remove' %>)
    <% end %>
  <% end %>

  <% form_tag '/users/addservice' do %>
    <%= hidden_field_tag 'user_id', @user.id %>
    <%= collection_select :service_id, nil, @available_services, :id, :name %>
    <%= submit_tag 'Add service' %>
  <% end %>
</p>

<h2>Users</h2>
<p>
  <% @user.users.each do |u| %>
    <%= u.full_name %><br/>
  <% end %>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back to users', :controller => 'users' %><br />
</p>

