<%= image_tag "icons/icontexto-webdev-file-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Logs</h1>

<p></p>
<% form_for :logfile, LogFile.new, :url => { :controller => 'Logs', :action => 'index' } do |f| %>
  <%= f.select 'id', @loglist.collect { |l| [l.name, l.id] },
                     { :selected => @logfile.nil? ? nil : @logfile.id  },
                     { :onchange => "javascript:submit();" } %>
  <%= submit_tag 'Open' %>
<% end %>

<h2>
  <%=h "#{@logfile.name} (#{@logfile.path})" if @logfile %>
</h2>

<pre>
  <%=h @logtext %>
</pre>

