<h1>Adding FTP service to <%= @pureftpd_user.user.full_name %></h1>

<% form_for(@pureftpd_user, :url => { :controller => 'pureftpd_users', :action => 'create', :id => @pureftpd_user.id }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :max_accounts %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_accounts, :size => 15 %>
  </p>
  <p>
    <%= f.hidden_field :user_id %>
    <%= f.submit 'Add' %>
  </p>
<% end %>

