<h1>Your mailboxes</h1>

<% @logged_user.domains.each do |domain| %>
  <h2><%=h domain.domain %></h2>
  <% if @mailboxes.select {|m| m.domain==domain}.count > 0 %>
    <table>
      <tr>
        <th>Address</th>
        <th>Full name</th>
        <th>Size</th>
        <th>Password</th>
        <th>Forward only</th>
        <th>Forward to</th>
      </tr>

    <% @mailboxes.select {|m| m.domain==domain}.each do |mailbox| %>
      <tr>
        <td><%=h mailbox.address %>@<%=h mailbox.domain.domain %></td>
        <td><%=h mailbox.full_name %></td>
        <td><%=h mailbox.size %> Mb</td>
        <td><%=h mailbox.password %></td>
        <td><%=h mailbox.forward_only ? "Yes" : "No" %></td>
        <td><%= mailbox.forward.split("\n").join("<br />") %></td>
        <td><%= link_to 'Show', mailbox %></td>
        <td><%= link_to 'Edit', edit_service_email_mailbox_path(mailbox) %></td>
        <td><%= link_to 'Destroy', mailbox, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />
  <% else %>
    No mailbox on this domain
  <% end %>
<% end %>

<%= link_to 'New service_email_mailbox', new_service_email_mailbox_path %>

