<%= image_tag "icons/icontexto-webdev-config-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Editing subdomain</h1>

<% form_for(@subdomain) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url, "URL" %><br />
    <%= f.text_field :url, :size=>10 %>.<%= @subdomain.domain.domain %>
  </p>
  <p>
    <%= f.label :path %><br />
    /home/<%= @logged_user.username %>/<%= @subdomain.domain.domain %>/<%= f.text_field :path, :size=>15 %>
  </p>
  <p>
    <%= f.check_box :mainsub, :disabled=>("disabled" if @subdomain.mainsub) %> http://<%= @subdomain.domain.domain %> redirects here<br />
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', :controller => 'domains' %>

