<h1>Listing service_email_users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Max mailboxes</th>
    <th>Max aliases</th>
  </tr>

<% @service_email_users.each do |service_email_user| %>
  <tr>
    <td><%=h service_email_user.user_id %></td>
    <td><%=h service_email_user.max_mailboxes %></td>
    <td><%=h service_email_user.max_aliases %></td>
    <td><%= link_to 'Show', service_email_user %></td>
    <td><%= link_to 'Edit', edit_service_email_user_path(service_email_user) %></td>
    <td><%= link_to 'Destroy', service_email_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service_email_user', new_service_email_user_path %>