<h1>New service_email_user</h1>

<% form_for(@service_email_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :max_mailboxes %><br />
    <%= f.text_field :max_mailboxes %>
  </p>
  <p>
    <%= f.label :max_aliases %><br />
    <%= f.text_field :max_aliases %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', service_email_users_path %>