<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>
PureFTPd module - Edit account

Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag "icons/icontexto-webdev-file-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Editing <%= @account.full_username %></h1>

<% form_for(@account, :url => { :controller => 'pureftpd_accounts', :action => 'update', :id => @account.id }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Root directory" %><br />
    /home/<%=h @logged_user.username %>/<%= f.text_field :root %>
  </p>
  <p>
    <%= f.label 'New password' %> <small>(leave blank to keep current one)</small><br />
    <%= f.password_field :password, :value => '' %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :value => '' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back',
            :controller => 'pureftpd_accounts', :action => 'index' %>

