<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>
PureFTPd module - Accounts

Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag "icons/icontexto-webdev-file-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Your FTP accounts</h1>

<p>
  Quota usage: <%= print_quota @logged_pureftpd_user.used_accounts_total, @logged_pureftpd_user.max_accounts, '' %><br/>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'New account',
              :controller => 'pureftpd_accounts', :action => 'new' %>
</p>

<div class="frame">
<% if @accounts.count > 0 %>
  <table class="indextable">
    <tr>
      <th>Username</th>
      <th>Root directory</th>
      <th>Actions</th>
    </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%=h account.full_username %></td>
      <td><%=h "/home/" + @logged_pureftpd_user.user.username + "/" + account.root %></td>
      <td>
        <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => 'Edit', :title => 'Edit', :class => 'action'),
                    :controller => 'pureftpd_accounts', :id => account.id, :action => 'edit' %>
        <%= link_to (image_tag 'icons/icontexto-webdev-remove-032x032.png', :alt => 'Delete', :title => 'Delete', :class => 'action'),
                    {:controller => 'pureftpd_accounts', :id => account.id, :action => 'destroy'}, :confirm => 'Are you sure?' %>
      </td>
    </tr>
  <% end %>
  </table>
  <br />
<% else %>
  No accounts yet
<% end %>
</div>

