<%= image_tag "icons/icontexto-webdev-file-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>New FTP account</h1>

<% form_for(@account, :url => { :controller => 'pureftpd_accounts', :action => 'create' }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>@<%= f.collection_select :domain_id, @logged_user.domains, :id, :domain %>
  </p>
  <p>
    <%= f.label "Root directory" %><br />
    /home/<%=h @logged_user.username %>/<%= f.text_field :root %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :value => '' %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :value => '' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back',
            :controller => 'pureftpd_accounts', :action => 'index' %>

