<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>
E-mail module - Mailboxes

Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag "icons/icontexto-webdev-contact-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Your mailboxes</h1>

<p>
  Mailboxes: <%= print_quota @logged_email_user.used_mailboxes_total, @logged_email_user.max_mailboxes, '' %><br/>
  Aliases: <%= print_quota @logged_email_user.used_aliases_total, @logged_email_user.max_aliases, '' %>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'New mailbox',
              :controller => 'service_email_mailboxes', :action => 'new' %>
</p>

<% @logged_user.domains.each do |domain| %>
  <span class="frametitle"><%=h domain.domain %></span>
  <div class="frame">
  <% if @mailboxes.select {|m| m.domain==domain}.count > 0 %>
    <table class="indextable">
      <tr>
        <th>Address</th>
        <th>Full name</th>
        <th>Size</th>
        <th>Forward to</th>
        <th>Actions</th>
      </tr>

    <% @mailboxes.select {|m| m.domain==domain}.each do |mailbox| %>
      <tr>
        <td><%= '<em>' if mailbox.forward_only %><%= mailbox.full_address %><%= '</em>' if mailbox.forward_only %></td>
        <td><%=h mailbox.full_name %></td>
        <td><%= mailbox.forward_only ? '<em>alias</em>' : (mailbox.size==-1 ? 'Unlimited' : mailbox.size.to_s + ' Mb') %></td>
        <td><%= mailbox.forward.split(/\r?\n/).join("<br />") %></td>
        <td>
          <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => 'Edit', :title => 'Edit', :class => 'action'),
                      :controller => 'service_email_mailboxes', :id => mailbox.id, :action => 'edit' %>
          <%= link_to (image_tag 'icons/icontexto-webdev-remove-032x032.png', :alt => 'Delete', :title => 'Delete', :class => 'action'),
                      {:controller => 'service_email_mailboxes', :id => mailbox.id, :action => 'destroy'}, :confirm => 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
    </table>
    <br />
  <% else %>
    No mailbox on this domain
  <% end %>
  </div>
<% end %>

