<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>
E-mail module - Mailbox

Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<p>
  <b>Address:</b>
  <%=h @service_email_mailbox.address %>
</p>

<p>
  <b>Domain:</b>
  <%=h @service_email_mailbox.domain_id %>
</p>

<p>
  <b>Full name:</b>
  <%=h @service_email_mailbox.full_name %>
</p>

<p>
  <b>Size:</b>
  <%=h @service_email_mailbox.size %>
</p>

<p>
  <b>Password:</b>
  <%=h @service_email_mailbox.password %>
</p>

<p>
  <b>Forward:</b>
  <%=h @service_email_mailbox.forward %>
</p>

<p>
  <b>Forward only:</b>
  <%=h @service_email_mailbox.forward_only %>
</p>


<%= link_to 'Edit', edit_service_email_mailbox_path(@service_email_mailbox) %> |
<%= link_to 'Back', service_email_mailboxes_path %>

