<h1>Change password</h1>

<% form_for(@user, :url => {:action => "savenewpassword"}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%=h @user.username %>
    <%= f.hidden_field :id %>
  </p>
  <p>
    <%= f.label "Current password" %><br />
    <%= f.password_field :password, :value => "" %>
  </p>
  <p>
    <%= f.label :new_password %><br />
    <%= f.password_field :new_password, :value => "" %>
  </p>
  <p>
    <%= f.label :new_password_confirmation %><br />
    <%= f.password_field :new_password_confirmation, :value => "" %>
  </p>
  <p>
    <%= f.submit 'Change' %>
  </p>
<% end %>

