<%= image_tag "icons/icontexto-webdev-site-map-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Modules</h1>

<table>
  <tr>
    <th>Displayed name</th>
    <th>Technical name</th>
    <th>Description</th>
    <th>By domain</th>
    <th>Controller</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%=h service.name %></td>
    <td><%=h service.tech_name %></td>
    <td><%=h service.description %></td>
    <td><%=h service.by_domain %></td>
    <td><%=h service.controller %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'Install a module', new_service_path %>

