<%= image_tag "icons/icontexto-webdev-site-map-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Modules</h1>

<% @services.each do |service| %>
  <h2>
    <%=h service.name %>
    <%= image_tag("icons/clock.gif", :alt=>"Pending...", :title=>"Pending...", :width=>20, :height=>20) unless service.active? %>
  </h2>
  <p><%=h service.tech_name %></p>
  <p><em><%=h service.description %></em></p>
  <p>
    By domain: <%= service.by_domain ? "Yes" : "No" %><br />
    Controller: <%=h service.controller %>
  </p>
  <p>
    <%= link_to (image_tag 'icons/icontexto-webdev-remove-032x032.png', :alt => '', :class => 'action') + 'Remove this module',
                service, :method => 'delete', :confirm => 'This probably has a LOT of consequences! Are you sure?' %>
  </p>
  <br /><br />
<% end %>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'Install a module', new_service_path %>
</p>

