<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>


Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag "icons/icontexto-webdev-site-map-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Modules</h1>

<% @services.each do |service| %>
  <h2>
    <%=h service.name %>
    <%= image_tag("icons/clock.gif", :alt=>"Pending...", :title=>"Pending...", :width=>20, :height=>20) unless service.active? %>
  </h2>
  <p><%=h service.tech_name %></p>
  <p><em><%=h service.description %></em></p>
  <p>
    By domain: <%= service.by_domain ? "Yes" : "No" %><br />
    Controller: <%=h service.controller %>
  </p>
  <p>
    <%= link_to (image_tag 'icons/icontexto-webdev-remove-032x032.png', :alt => '', :class => 'action') + 'Remove this module',
                service, :method => 'delete', :confirm => 'This can have a LOT of consequences! It is probably safer to remove the service from your users and keep it installed. If you do remove it, please also run a "clean" action with your packages manager (e.g. apt-get autoremove). Are you sure?' %>
  </p>
  <br /><br />
<% end %>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '', :class => 'action') + 'Install a module', new_service_path %>
</p>

