<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h controller.controller_name.capitalize %> | Ohm <%=(h "("+@logged_user.full_name+")") if @logged_user %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'ohm' %>
</head>
<body>

<div id="left" class="dark">
  <%= image_tag "ohm.png", :alt=>"Ohm | Open Hosting Manager"%>
  <br /><br />

<% if @logged_user %>
  <% if @logged_user.id==1 %>
    <strong>User menu</strong><br /><br />
  <% end %>
  <%= "&gt;" if controller.controller_name=="dashboard" || controller.controller_name=="domains" || controller.controller_name=="subdomains" %>
  <%= link_to "Dashboard", :controller=>"dashboard" %>
  <% @logged_user.services.each do |service| %>
    <br /><br />
    <%= "&gt;" if controller.controller_name==service.controller %>
    <%= link_to service.name, :controller=>service.controller %>
  <% end %>

  <% if @logged_user.id==1 %>
    <br /><br /><hr /><br />
    <strong>Admin menu</strong><br /><br />
    <%= "&gt;" if controller.controller_name=="services" %>
    <%= link_to "Services", :controller=>"services" %>
  <% end %>

  <br /><br /><br /><br /><hr /><br />
  <%=h @logged_user.full_name %> (<%=h @logged_user.username %>)
  <br />
  <%= link_to "Logout", :controller=>"login", :action=>"logout" %>
<% end %>
</div>

<div id="content">
  <%= "<p class=\"notice\">"+image_tag("icons/icontexto-webdev-ok-032x032.png", :alt=>"", :class=>"messageicon")+flash[:notice]+"</p>" if flash[:notice] %>
  <%= "<p class=\"error\">"+image_tag("icons/icontexto-webdev-cancel-032x032.png", :alt=>"", :class=>"messageicon")+flash[:error]+"</p>" if flash[:error] %>

  <%= yield %>
</div>

<div id="footer">
  Copyright &copy; 2009-2010 <a href="http://www.umons.ac.be" target="_blank">UMons</a> and <a href="http://www.joelcogen.com" target="_blank">Joel Cogen</a><br />
  <strong>Ohm</strong> is <a href="http://www.fsf.org/resources/what-is-fs" target="_blank">free software</a> released under the <a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GNU General Public License</a>
</div>

</body>
</html>

