<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>


Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag 'icons/icontexto-webdev-user-128x128.png', :alt => '', :class => 'bigicon' %>
<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, :value => '' %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :value => '' %>
  </p>
  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label 'E-mail address' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'Disk space' %> <%= '(max ' + @logged_user.free_space.to_s + ' Mb)' unless @logged_user.free_space==-1 %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_space %>
  </p>
  <p>
    <%= f.label 'Maximum subdomains' %> <%= '(max ' + @logged_user.free_subdomains.to_s + ')' unless @logged_user.free_subdomains==-1 %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_subdomains %>
  </p>
  <p>
    <%= f.label 'Maximum sub-users' %> <%= '(max ' + @logged_user.free_subusers.to_s + ')' unless @logged_user.free_subusers==-1 %> (leave blank or set to -1 for unlimited)<br />
    <%= f.text_field :max_subusers %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', :controller => 'users' %>

