<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>


Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag 'icons/icontexto-webdev-user-128x128.png', :alt => '', :class => 'bigicon' %>
<h1>Edit your profile</h1>

<% form_for @user, :url => { :action => 'profileupdate' } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label 'E-mail address' %><br />
    <%= f.text_field :email %>
  </p>
  <p><br/><strong>Change your password</strong></p>
  <p>
    <%= f.label 'Current password' %><br />
    <%= f.password_field :old_password %>
  </p>
  <p>
    <%= f.label 'New password' %><br />
    <%= f.password_field :password, :value => '' %>
  </p>
  <p>
    <%= f.label 'Confirm new password' %><br />
    <%= f.password_field :password_confirmation, :value => '' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', :controller => 'dashboard' %>

