<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>


Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<%= image_tag 'icons/icontexto-webdev-user-128x128.png', :alt => '', :class => 'bigicon' %>
<h1><%=h @user.full_name + ' (' + @user.username + ')' %></h1>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => '', :class => 'action') + 'Edit', edit_user_path(@user) %><br/>
  <%= link_to (image_tag 'icons/icontexto-webdev-security-032x032.png', :alt => '', :class => 'action') + 'Login as this user', :controller => 'users', :action => :login_as_me, :id => @user.id %>
</p>

<h2>E-mail: <small><%= link_to @user.email, 'mailto:'+@user.email %></small></h2>

<h2>Disk usage: <small><%= print_quota @user.used_space_total, @user.max_space, 'Mb' %></small></h2>

<h2>Domains <small>(<%= print_quota @user.used_subdomains_total, @user.max_subdomains, '' %>)</small></h2>
<ul>
  <%= '<li>This user has no domain yet</li>' if @user.domains.count == 0 %>
  <% @user.domains.each do |dom| %>
    <li><h3><%= dom.domain %></h3>
    <ul class="subdomains">
    <% dom.subdomains.each do |subdom| %>
      <li>
        <%= subdom.url+'.'+dom.domain %>
        <%= link_to (image_tag 'icons/external.png', :alt => 'Visit', :title => 'Visit'),'http://'+subdom.url+'.'+dom.domain, :target => '_blank' %>
      </li>
    <% end %>
    </ul></li>
  <% end %>
</ul>

<h2>Services:</h2>
<p>
  <ul>
    <%= '<li>No additional services</li>' if @user.services.count == 0 %>
    <% @user.services.each do |s| %>
      <li>
        <% form_tag '/users/removeservice' do %>
          <%= hidden_field_tag 'user_id', @user.id %>
          <%= hidden_field_tag 'service_id', s.id %>
          <%= link_to s.name, :controller => s.controller, :action => 'showuser', :user_id => @user.id %>
          <%= image_submit_tag 'icons/icontexto-webdev-remove-032x032.png', :class => 'action' %>
        <% end %>
      </li>
    <% end %>

    <% if @available_services.count > 0 %>
      <li>
        <% form_tag '/users/addservice' do %>
          <%= hidden_field_tag 'user_id', @user.id %>
          <%= label_tag 'Add service:' %>
          <%= collection_select :service_id, nil, @available_services, :id, :name %>
          <%= image_submit_tag 'icons/icontexto-webdev-add-032x032.png', :class => 'action' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<h2>Users <small>(<%= print_quota @user.used_subusers_total, @user.max_subusers, '' %>)</small></h2>
<p>
  <ul>
    <%= '<li>No sub-users</li>' if @user.users.count == 0 %>
    <% @user.users.each do |u| %>
      <li><%= u.full_name %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back to users', :controller => 'users' %><br />
</p>

